exportPattern("^[[:alpha:]]+")
exportMethods(
  "createJagsModel",
  "runJagsModel",
  "verifyInput",
  "clusterSamples",
  "plotClusterWeights",
  "plotClusters",
  "plotResultSNVs",
  "plotChains",
  "simulateData"
)
import(rjags)
